__pycache__/
*.py[cod]

*.so

env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log

ATBP_sounds/*
ATBP_sounds_list.md
*.atbp
tools/replay_player/sounds/*.ogg
*.dll
*.sys