<!DOCTYPE HTML>
<html lang="en" ng-app="playerApp">
    <head>
        <meta charset="UTF-8" />
        <title>ATBP Replay Player</title>
        <link rel="stylesheet" href="player.css" />
        <script language="javascript" type="text/javascript" src="lib/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="lib/js-yaml.min.js"></script>
        <script language="javascript" type="text/javascript" src="player.js"></script>
    </head>
    <body ng-controller="PlayerCtrl">
        <h1>ATBP Replay Player</h1>
        <div id="intro">
            <p>Open your replay file:<p>
            <input type="file" id="replay-input" />
        </div>
        <p id="time-display"><strong>Time:</strong> <span id="time-indicator">{{time}}</span>s</p>
        <canvas id="player" width="868" height="450" ng-class="arena"></canvas>
        <div id="team-scores" ng-show="players">
            <div id="team-score-1" class="team-score">{{teamScores.teamB}}</div>
            <div id="team-score-0" class="team-score">{{teamScores.teamA}}</div>
        </div>
        <div class="clear">
        <div class="team" id="team-{{$index}}" ng-show="players" ng-repeat="team in players">
            <div class="player" ng-repeat="player in team" ng-class="{'player-tournament': player.tournament}">
                <img src="img/champions/{{player.champion}}.jpg" class="player-portrait" width="172" height="120" />
                <span class="player-name">{{player.name}}</span>
                <span class="player-elo">{{player.elo}} ELO</span>
                <span class="player-property"><strong>Backpack:</strong> {{BACKPACKS[player.backpack]}}</span>
                <span class="player-property"><strong>Health:</strong> {{player.currentHealth}}/{{player.maxHealth}}</span>
                <span class="player-property"><strong>Level:</strong> {{player.level}} ({{player.xp}} XP)</span>
                <span class="player-property"><strong>Score:</strong> {{player.score}}</span>
            </div>
        </div>
        <div class="clear"></div>
    </body>
</html>